<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 translate="proconcoappApp.planningWeek.detail.title">PlanningWeek {{planningWeek.id}}</h1>
            <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
				
                <div class="modal-body">
                	<div class="form-group">
						<div class="alert alert-success" ng-show="success" translate="proconcoappApp.planningWeek.message.success">
			                <strong>PlanningWeek updated!</strong>
			            </div>
				    </div>
				    <div class="form-group">
						<div class="alert alert-danger" ng-show="updateError" translate="proconcoappApp.planningWeek.error.message.update">
					        Update error!
					    </div>
				    </div>
                    <div class="form-group">
                        <label>ID</label>
                        <input type="text" class="form-control" name="id"
                               ng-model="planningWeek.id" readonly>
                    </div>

<!--                     <div class="form-group"> -->
<!--                         <label translate="proconcoappApp.planningWeek.amt">Amt</label> -->
<!--                         <input type="number" class="form-control" name="amt" -->
<!--                                ng-model="planningWeek.amt" required min="0"> -->

<!--                         <div ng-show="editForm.amt.$invalid"> -->
<!--                             <p class="help-block" -->
<!--                                ng-show="editForm.amt.$error.required" translate="entity.validation.required"> -->
<!--                                 This field is required. -->
<!--                             </p> -->
<!--                             <p class="help-block" -->
<!--                                ng-show="editForm.amt.$error.min" translate="entity.validation.min" translate-value-min="0"> -->
<!--                                 This field should be more than 0. -->
<!--                             </p> -->
<!--                             <p class="help-block" -->
<!--                                ng-show="editForm.amt.$error.number" translate="entity.validation.number"> -->
<!--                                 This field should be a number. -->
<!--                             </p> -->
<!--                         </div> -->
<!--                     </div> -->
<!--                     <div class="form-group"> -->
<!--                         <label translate="proconcoappApp.planningWeek.marketRpt">MarketRpt</label> -->
<!--                         <input type="text" class="form-control" name="marketRpt" -->
<!--                                ng-model="planningWeek.marketRpt" required> -->

<!--                         <div ng-show="editForm.marketRpt.$invalid"> -->
<!--                             <p class="help-block" -->
<!--                                ng-show="editForm.marketRpt.$error.required" translate="entity.validation.required"> -->
<!--                                 This field is required. -->
<!--                             </p> -->
<!--                         </div> -->
<!--                     </div> -->
                    <div class="form-group">
                        <label translate="proconcoappApp.planningWeek.monday">Monday</label>
                        <input type="text" class="form-control" name="monday"
                               ng-model="planningWeek.monday">

                    </div>
                    <div class="form-group">
                        <label translate="proconcoappApp.planningWeek.tuesday">Tuesday</label>
                        <input type="text" class="form-control" name="tuesday"
                               ng-model="planningWeek.tuesday">

                    </div>
                    <div class="form-group">
                        <label translate="proconcoappApp.planningWeek.wednesday">Wednesday</label>
                        <input type="text" class="form-control" name="wednesday"
                               ng-model="planningWeek.wednesday">

                    </div>
                    <div class="form-group">
                        <label translate="proconcoappApp.planningWeek.thursday">Thursday</label>
                        <input type="text" class="form-control" name="thursday"
                               ng-model="planningWeek.thursday">

                    </div>
                    <div class="form-group">
                        <label translate="proconcoappApp.planningWeek.friday">Friday</label>
                        <input type="text" class="form-control" name="friday"
                               ng-model="planningWeek.friday">

                    </div>
                    <div class="form-group">
                        <label translate="proconcoappApp.planningWeek.saturday">Saturday</label>
                        <input type="text" class="form-control" name="saturday"
                               ng-model="planningWeek.saturday">

                    </div>
                    <div class="form-group">
                        <label translate="proconcoappApp.planningWeek.sunday">Sunday</label>
                        <input type="text" class="form-control" name="sunday"
                               ng-model="planningWeek.sunday">

                    </div>
<!--                     <div class="form-group"> -->
<!--                         <label translate="proconcoappApp.planningWeek.delFlag">DelFlag</label> -->
<!--                         <input type="text" class="form-control" name="delFlag" -->
<!--                                ng-model="planningWeek.delFlag" required ng-minlength="1" ng-maxlength="1" ng-pattern="/[YN]/"> -->

<!--                         <div ng-show="editForm.delFlag.$invalid"> -->
<!--                             <p class="help-block" -->
<!--                                ng-show="editForm.delFlag.$error.required" translate="entity.validation.required"> -->
<!--                                 This field is required. -->
<!--                             </p> -->
<!--                             <p class="help-block" -->
<!--                                ng-show="editForm.delFlag.$error.minlength" translate="entity.validation.minlength" translate-value-min="1"> -->
<!--                                 This field is required to be at least 1 characters. -->
<!--                             </p> -->
<!--                             <p class="help-block" -->
<!--                                ng-show="editForm.delFlag.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="1"> -->
<!--                                 This field cannot be longer than 1 characters. -->
<!--                             </p> -->
<!--                             <p class="help-block" -->
<!--                                ng-show="editForm.delFlag.$error.pattern" translate="entity.validation.pattern" translate-value-pattern="[YN]"> -->
<!--                                 This field should follow pattern "[YN]". -->
<!--                             </p> -->
<!--                         </div> -->
<!--                     </div> -->
<!--                     <div class="form-group"> -->
<!--                         <label translate="proconcoappApp.planningWeek.crtUid">CrtUid</label> -->
<!--                         <input type="text" class="form-control" name="crtUid" -->
<!--                                ng-model="planningWeek.crtUid"> -->

<!--                     </div> -->
<!--                     <div class="form-group"> -->
<!--                         <label translate="proconcoappApp.planningWeek.crtTms">CrtTms</label> -->
<!--                         <input type="date" class="form-control" name="crtTms" -->
<!--                                ng-model="planningWeek.crtTms"> -->

<!--                     </div> -->
<!--                     <div class="form-group"> -->
<!--                         <label translate="proconcoappApp.planningWeek.updUid">UpdUid</label> -->
<!--                         <input type="text" class="form-control" name="updUid" -->
<!--                                ng-model="planningWeek.updUid"> -->

<!--                     </div> -->
<!--                     <div class="form-group"> -->
<!--                         <label translate="proconcoappApp.planningWeek.updTms">UpdTms</label> -->
<!--                         <input type="date" class="form-control" name="updTms" -->
<!--                                ng-model="planningWeek.updTms"> -->

<!--                     </div> -->

                </div>
                <div class="modal-footer">
                    <button type="submit"
				            ui-sref="planningWeekDetail({id:planningWeek.id})"
				            class="btn btn-info">
				        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
				    </button>
                    <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                        <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
